<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OpenStreetMap Pretty RSS</title>
    <meta
      name="description"
      content="Create an RSS/Atom feed with the changesets of given OpenStreetMap user."
    />
  </head>
  <body>
    <h1>OpenStreetMap Pretty RSS</h1>
    <p>
      Create an RSS/Atom feed with the changesets of given OpenStreetMap user.
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Create feed">
    </form>
  </body>
</html>
