<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ changeset.title }}</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'osm_changesets/main.css' %}"
      type="text/css"
      media="screen"
    />
  </head>
  <body>
    <div class="container">
      <section>
        <h1>{{ changeset.title }}</h1>
        <p>{{ changeset.created_at|date:"j M Y H:i" }}</p>
        <img
          src="{{ changeset.svg.url }}"
          alt="Map showing OpenStreetMap changeset {{ changeset.id }}"
        />
        <p>
          <a href="{{ changeset.osm_url }}"
          >Go to changeset {{ changeset.id }} at openstreetmap.org</a
                                                                  >
        </p>
      </section>
    </div>
  </body>
</html>
