<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ query.title }}</title>
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ query.rss_url }}"
      title="{{ query.title }} (RSS)"
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="{{ query.atom_url }}"
      title="{{ query.title }} (Atom)"
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'osm_changesets/main.css' %}"
      type="text/css"
      media="screen"
    />
  </head>
  <body>
    <div class="container">
      <section>
        <h1>{{ query.title }}</h1>
        <p>
          <a href="{{ query.rss_url }}" class="button">RSS</a>
          <a href="{{ query.atom_url }}" class="button">Atom</a>
        </p>
        <p>
          The RSS/Atom feed contains the last 10 items and is refreshed every
          time you poll it but at most once per hour.
        </p>
      </section>
    </div>
    {% for changeset in page_obj %}
    <div class="container">
      <section>
        <h2>
          <a href="{{ changeset.url }}">{{ changeset.title }}</a>
        </h2>
        <p>{{ changeset.created_at|date:"j M Y H:i" }}</p>
        {% include "changesets/description.html" %}
      </section>
    </div>
    {% empty %}
    <div class="container">
      <section>
        <p>No changesets yet.</p>
      </section>
    </div>
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </body>
</html>
