<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ user.title }}</title>
    <!-- TODO RSS link -->
    <!-- TODO Atom link -->
  </head>
  <body>
    <h1>{{ user.title }}</h1>
    <p>Feed: <a href="{{ user.feed_rss_url }}">RSS</a>, <a href="{{ user.feed_atom_url }}">Atom</a></p>
    {% for changeset in user.changesets.all %}
    <h2>{{ changeset.title }}</h2>
    <p><a href="{{ changeset.osm_url }}" target="blank">{{ changeset.created_at|date:"j M Y H:i" }}&#8599;</a></p>
    <img src="{{ changeset.svg.url }}" />
    {% empty %}
    <p>No changesets yet.</p>
    {% endfor %}
  </body>
</html>
