<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ user.title }}</title>
    <!-- TODO RSS link -->
    <!-- TODO Atom link -->
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'osm_changesets/main.css' %}"
      type="text/css"
      media="screen"
    />
  </head>
  <body>
    <div class="container">
      <section>
        <h1>{{ user.title }}</h1>
        <p>
          <a href="{{ user.feed_rss_url }}" class="button">RSS</a>
          <a href="{{ user.feed_atom_url }}" class="button">Atom</a>
        </p>
        {% for changeset in user.changesets.all %}
      </section>
    </div>
    <div class="container">
      <section>
        <h2>{{ changeset.title }}</h2>
        <p>
          <a href="{{ changeset.osm_url }}" target="blank"
            >{{ changeset.created_at|date:"j M Y H:i" }}&#8599;</a
          >
        </p>
        <img src="{{ changeset.svg.url }}" alt="Map showing OpenStreetMap changeset {{ changeset.id }}" />
      </section>
    </div>
    {% empty %}
    <div class="container">
      <section>
        <p>No changesets yet.</p>
        {% endfor %}
      </section>
    </div>
  </body>
</html>
