<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OpenStreetMap Changesets</title>
    <meta
      name="description"
      content="A website that shows changesets by an OpenStreetMap user with map images."
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'osm_changesets/main.css' %}"
      type="text/css"
      media="screen"
    />
  </head>
  <body class="index">
    <div class="container">
      <section>
        <h1>OpenStreetMap Changesets</h1>
        <p>
          This website shows changesets by an OpenStreetMap user with map
          images. See an
          <a href="{% url 'user-detail' pk=4151758 %}">example</a>.
        </p>
        <p>
          It also provides an RSS/Atom feed, which is refreshed every time your
          feed reader polls it but not more often than once per hour. See an
          <a href="{% url 'user-feed-rss' pk=4151758 %}">example RSS feed</a>.
        </p>
      </section>
    </div>
    <div class="container">
      <section>
        <form method="post">
          {% csrf_token %} {{ create_form.non_field_errors }}
          <div>
            {{ create_form.uid.as_field_group }}
            <input type="submit" name="create" value="Show changesets" />
          </div>
        </form>
        <form method="post">
          {% csrf_token %} {{ find_form.non_field_errors }}
          <div>
            {{ find_form.user_name.as_field_group }}
            <input type="submit" name="find" value="Find user" />
          </div>
        </form>
        {% if found_users %}
        <div class="found">
          <ul>
            <h2>Found users:</h2>
            {% for found_user in found_users %}
            <li>
              <span
                >{{ found_user.user_names|join:", " }}
                <!-- prettier-ignore -->
                ({{ found_user.uid }})</span
              >
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="uid" value="{{ found_user.uid }}" />
                <input type="submit" name="create" value="Show changesets" />
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </section>
    </div>
    <footer>
      2024
      <a href="https://www.jakubvalenta.cz/" target="blank">Jakub Valenta</a>,
      <a href="https://github.com/jakubvalenta/osm-changesets" target="blank"
        >code</a
      >, search powered by
      <a href="https://whosthat.osmz.ru/" target="blank">whosthat.osmz.ru</a>
    </footer>
  </body>
</html>
