<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OpenStreetMap Changesets</title>
    <meta
      name="description"
      content="A website that shows changesets by an OpenStreetMap user with map images."
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'osm_changesets/main.css' %}"
      type="text/css"
      media="screen"
    />
  </head>
  <body class="index">
    <div class="container">
      <section>
        <h1>OpenStreetMap Changesets</h1>
        <p>
          This website shows changesets by an OpenStreetMap user as a simple
          list with little maps; including an RSS/Atom feed.
        </p>
        <p>
          See
          <a href="{% url 'changeset-list-by-uid' 4151758 %}">example changesets</a>
          / <a href="{% url 'changeset-list-by-uid-rss' 4151758 %}">RSS</a> and compare
          them to
          <a href="https://www.openstreetmap.org/user/Jakub%20Valenta/history"
            >openstreetmap.org changesets</a
          >
          /
          <a
            href="https://www.openstreetmap.org/user/Jakub%20Valenta/history/feed"
            >RSS</a
          >.
        </p>
      </section>
    </div>
    <div class="container">
      <section>
        <form method="post">
          {% csrf_token %} {{ form.non_field_errors }}
          <div>
            {{ form.uid.as_field_group }}
            {{ form.display_name.as_field_group }}
            <input type="submit" name="create" value="Show changesets" />
          </div>
        </form>
      </section>
    </div>
    <footer>
      2024
      <a href="https://www.jakubvalenta.cz/" target="blank">Jakub Valenta</a>,
      <a href="https://github.com/jakubvalenta/osm-changesets" target="blank"
        >code</a
      >
    </footer>
  </body>
</html>
