<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OpenStreetMap Changesets</title>
    <meta
      name="description"
      content="A website that shows changesets by an OpenStreetMap user with map images."
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'osm_changesets/main.css' %}"
      type="text/css"
      media="screen"
    />
  </head>
  <body>
    <div class="border-bottom">
      <div class="mx-2">
        <h1 class="my-3">OpenStreetMap Changesets</h1>
        <form method="post" class="my-3">
          {% csrf_token %}
          <div class="flex flex-desktop">
            <div class="flex my-1-mobile">
              <label for="{{ form.uid.id_for_label }}" class="label mr-05"
                >{{ form.uid.label }}</label
              >
              <span class="mr-05">{{ form.uid }} {{ form.uid.errors }}</span>
            </div>
            <div class="flex my-1-mobile">
              <label
                for="{{ form.display_name.id_for_label }}"
                class="label mr-05"
                >{{ form.display_name.label }}</label
              >
              <span class="mr-05">
                {{ form.display_name }} {{ form.display_name.errors }}
              </span>
            </div>
            <input
              type="submit"
              name="create"
              value="Show changesets"
              class="button"
            />
          </div>
          {{ form.non_field_errors }}
        </form>
      </div>
    </div>
    <div class="border-bottom">
      <div class="mx-2 my-3 max-width-s">
        <p class="my-1 italics">
          This website shows changesets made by an OpenStreetMap user; including
          small static maps (<a href="{% url 'list' %}?uid=4151758"
            >example</a
          >) and an RSS feed (<a href="{% url 'rss' %}?uid=4151758"
            >example</a
          >).
        </p>
        <p class="my-1 italics">
          Compare it to osm.org, which has an interactive interface (<a
            href="https://www.openstreetmap.org/user/Jakub%20Valenta/history"
            >example</a
          >) without maps in RSS.
        </p>
        <p class="my-1 italics">
          Learn how to
          <a href="https://wiki.openstreetmap.org/wiki/Getting_Involved" target="_blank" rel="noreferrer"
            >get involved&#8599;</a
          >
          in the OpenStreetMap project.
        </p>
      </div>
    </div>
    <div class="mx-2 my-3">
      2024
      <a
        href="https://www.jakubvalenta.cz/"
        target="_blank"
        rel="noreferrer"
      >Jakub Valenta</a>,
      <a
        href="https://github.com/jakubvalenta/osm-changesets"
        target="_blank"
        rel="noreferrer"
      >code</a>
    </div>
  </body>
</html>
