:root {
  --color-error: #ffedf5;

  --color-darker: #222;
  --color-dark: #88918d;
  --color-medium: #c1cfc9;
  --color-light: #d6e6df;
  --color-lighter: #e1f2eb;
  --color-lightest: #ecfef6;
}

body {
  margin: 0;
  background: var(--color-lightest);
}
body,
input {
  color: var(--color-darker);
  font-family: sans-serif;
  font-size: 10pt;
}
body:not(.js) .when-js,
.hidden {
  display: none;
}
a {
  color: var(--color-darker);
  text-decoration-color: var(--color-medium);
  text-decoration-thickness: 2px;
}
a:focus,
a:hover {
  text-decoration-color: var(--color-darker);
}
code {
  font-family: monospace;
  white-space: pre;
}
.border-bottom {
  border-bottom: 1px solid var(--color-light);
}
.mx-2 {
  margin-left: 2em;
  margin-right: 2em;
}
.my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}
.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mr-05 {
  margin-right: 0.5em;
}
.max-width-l {
  max-width: 50em;
}
.max-width-s {
  max-width: 26em;
}
.italics {
  font-style: italic;
}
h1,
h2 {
  font-size: 100%;
  font-weight: normal;
}
.flex {
  display: flex;
  align-items: start;
}
@media screen and (max-width: 767px) {
  .flex-desktop {
    display: block;
  }
  .my-1-mobile {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.errorlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.errorlist li {
  background: var(--color-error);
}
input[type='text'],
.button,
.label {
  line-height: 2;
  white-space: nowrap;
}
input[type='text'],
.button {
  border: 1px solid var(--color-light);
  padding: 0 0.5em;
}
input[type='text'],
.button,
img {
  border-radius: 0.5em;
}
img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-height: 200px;
  color: var(--color-dark);
  background: var(--color-lighter);
  text-align: center;
  line-height: 200px;
}
input[type='text'] {
  width: 9em;
}
.button {
  display: inline-block;
  flex-shrink: 0;
  background: var(--color-light);
  text-align: center;
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  min-width: 5em;
}
.button:hover,
.button:focus {
  background-color: var(--color-medium);
  border-color: var(--color-medium);
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
.disabled:hover,
.disabled:focus {
  background-color: var(--color-light);
  border-color: var(--color-light);
}
